* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    line-height: 20px;
    text-align: center;

}


video {
    max-width: 100%;
    min-height: 100%;
}

header {
    background-color: #fff;
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

nav img {
    max-width: 130px;
    padding-bottom: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li {
    display: inline;
    font-weight: bold;
    margin-right: 1.5rem;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #b61c1c;
    padding: 8px;
    text-align: center;
}

footer p{
    color: #fff;
    font-size: 15px;
  
}

/* Specific Page Styles */
#hero {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

#hero p {
    color: #b61c1c;
    font-weight: bold;
    padding: 0.5rem;

}

#about {
    height: 500px;
    width: 75%;
    padding-bottom: 6rem;
    padding-left:8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    
}

#about p {
    padding-top: 1.5rem;
    text-align: justify;
    color: #333;

}


#banner {
    height: 10rem;
    background-color: #b61c1c;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#banner h2 {
    font-size: 1.5rem;
    margin: 0;
    padding-top: 4rem;
}

#journey {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
   
   
}

.product img {
    width: 100%;
    height: auto;
}

.product h3,p{
    color: #333;
    margin-top: 15px;
}

#contact {
    height: 500px;
    padding-top: 6rem;
}
#contact form {
    display: grid;
    grid-gap: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#contact label {
    font-weight: bold;
    padding-top: 1em;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 15px;
}

#newsletter h2{
    color: #333;
    margin-top: 1.5rem;
}

#newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12rem;
    margin: auto;
    padding-top: 2rem;
    background-color: #f2f2f2;
}

#newsletter button {
   padding: 0.5rem;
   border-color: #fff;
   background-color: #f2f2f2;
}


#newsletter form {
    margin: 15px;
    display: flex;
    border-color: white;
}


